.site-container {
  @include outer-container;
}

.page-header {
  @include clearfix;
  padding: 10px 0;
  margin-bottom: 80px;
  font-size: 16px;
}

.site-title {
  float: left;
  font-weight: normal;
}

.logo {
  margin-bottom: -8px;
  margin-right: 5px;
}

.page-header-nav {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
  float: right;
}

.page-header-nav-item {
  display: inline-block;
  margin: 0 15px;
}

.post {
  // @include outer-container(680px);
  max-width: 680px;
  // margin-left: 100px;
}

.post-title {
  font-size: 40px;
  margin-bottom: 10px;
  letter-spacing: -0.5px;
  // font-weight: normal;
  // text-align: center;

  a {
    color: $dark-gray;
    // color: #555;

    &:hover {
      // color: $blue;
    }
  }
}

.post-metadata {
  margin-bottom: $small-spacing;
  color: $medium-gray;
  // text-align: center;
}

.post-timestamp {

}
