.site-container {
  max-width: $page-width;
  margin-left: auto;
  margin-right: auto;
}

.pagination {
  padding: $gutter 0;
  text-align: center;

  // text-transform: uppercase;
  // font-size: 15px;
  // letter-spacing: 1.5px;
  font-weight: 800;
}

.pagination-summary {
  color: $medium-gray;
}

.pagination-link {

  &--prev {
    margin-right: $small-spacing / 2;
  }

  &--next {
    margin-left: $small-spacing / 2;
  }
}

.hello-bar {
  padding: 10px 0;
  background-color: $blue;
  background: linear-gradient(-45deg, lighten($blue, 25%), $blue);
  // border-bottom: 2px solid #fff;
  color: #fff;

  &__button {
    color: #fff;
    border-bottom: 2px solid rgba(255,255,255,0.8);

    &:hover {
      color: #fff;
      border-bottom-color: #fff;
    }
  }
}
