.inline-opt-in {
  margin-left: -$small-spacing;
  margin-right: -$small-spacing;
  margin-bottom: $small-spacing;
  padding: $small-spacing;
  background-color: $blue;
  background: linear-gradient(-45deg, $purple, $blue);
  color: #fff;
  border-radius: 5px;

  &__field {
    display: flex;
  }

  &__input {
    flex: 1 0;
    padding: 12px 18px;
    border: 0;
    // border-radius: 5px 0 0 5px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color $base-duration $base-timing;

    &:active,
    &:focus {
      outline: 0;
      background-color: #fff;
    }
  }

  &__submit {
    flex: 0 0;
    padding: 14px 18px;
    border: 0;
    background-color: #333;
    // border-radius: 0 5px 5px 0;
    border-radius: 3px;
    margin-left: 12px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color $base-duration $base-timing;

    &:hover {
      background-color: #000;
    }
  }
}
