.page-header {
  @include clearfix;
  padding: 30px 12px;
  margin-bottom: 80px;
  font-size: $page-header-font-size;
  // background-color: #f2f2f2;
  // @include linear-gradient(315deg, #e8e8e8, #fafafa);

  &.inverse {
    @include linear-gradient(45deg, $blue, lighten($blue, 20%));
    color: white;
  }

  &.bkg-overhead {
    background-image: url('/images/bkg-overhead.jpg');
    background-size: cover;
    background-position: 50%;
    min-height: 300px;
  }
}

.site-title {
  margin-top: 0;
  margin-bottom: 0;
  float: left;
  font-size: 20px;

  a {
    color: $dark-gray;

    &:hover {
      color: $action-color;
    }

    .inverse & {
      color: white;

      &:hover {
        color: white;
      }
    }
  }
}

.logo {
  margin-bottom: -8px;
  margin-right: 5px;
}

.page-header-nav {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
  float: right;
}

.page-header-nav-item {
  display: inline-block;
  margin: 0 10px;

  &:last-child {
    margin-right: 0;
  }

  a {

    .inverse & {
      color: white;
    }
  }
}
