.page-header {
  @include clearfix;
  padding: $small-spacing;
  margin-bottom: $base-spacing * 1.5;
  font-size: $page-header-font-size;
  // background-color: #f2f2f2;
  // @include linear-gradient(315deg, #e8e8e8, #fafafa);

  &.inverse {
    @include linear-gradient(45deg, $blue, lighten($blue, 20%));
    color: white;
  }

  &.with-background {
    background-size: cover;
    background-position: 50%;
    min-height: 300px;
  }
}

.site-title {
  margin-top: 0;
  margin-bottom: 0;
  float: left;
  font-size: 20px;

  a {
    color: $dark-gray;

    &:hover {
      color: $action-color;
    }

    .inverse & {
      color: white;
      text-shadow: 0 0 25px rgba(0,0,0,0.8);

      &:hover {
        color: white;
      }
    }
  }
}

.logo {
  margin-bottom: -8px;
  margin-right: 5px;
}

.page-header-nav {
  // margin: 10px 0;
  // margin-top: 6px;
  padding: 0;
  list-style-type: none;
  float: right;
}

.page-header-nav-item {
  display: inline-block;
  padding: 10px $small-spacing / 1.5;
  font-size: 15px;
  line-height: 1.1;
  border-radius: 25px;
  border: 1px solid $action-color;
  transition: border-color $base-duration $base-timing;

  &:hover {
    border-color: shade($action-color, 25%);
  }

  & + & {
    margin-left: 2px;
  }

  .inverse & {
    border: 0;
    transition: background-color $base-duration $base-timing;
    background-color: rgba(0,0,0,0.4);

    &:hover {
      background-color: rgba(0,0,0,0.6);
    }
  }

  // &:last-child {
  //   margin-right: 0;
  // }

  a {

    .inverse & {
      color: white;
    }
  }
}
