.post-title {
  font-size: 54px;
  margin-bottom: 5px;
  letter-spacing: -1px;

  a {
    color: $dark-gray;

    &:hover {
      color: $blue;
    }
  }
}

.post-metadata {
  margin-bottom: $small-spacing;
  color: $medium-gray;
}

.post-timestamp {

}

.post-body {
}
