.post-title {
  font-size: 54px;
  margin-bottom: 0;
  letter-spacing: -1px;

  a {
    color: $dark-gray;

    &:hover {
      color: $blue;
    }
  }
}

.post-metadata {
  margin-bottom: $small-spacing;
  color: $medium-gray;
}

.post-timestamp {

}

.post-body {

  a {
    color: lighten($blue, 20%);
    // font-weight: bold;
    border-bottom: 2px solid lighten($blue, 50%);
  }
}
