.post {
  margin-bottom: $base-spacing * 1.5;
}

.post-title {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
  letter-spacing: -1px;

  a {
    color: $dark-gray;

    &:hover {
      color: $blue;
    }
  }
}

.post-author a {
  color: $medium-gray;
}

.post-metadata {
  margin-bottom: $small-spacing;
  color: $medium-gray;
}

.post-timestamp {

}

.post-body {

  a {
    // font-weight: bold;
    border-bottom: 2px solid lighten($blue, 40%);
  }
}

.post-full-image {
  margin-bottom: $small-spacing;
}

.embedded-tweet {
  margin-bottom: $small-spacing;
}

.podcast-post {
  @include clearfix;
}

a.podcast-post-artwork {
  float: left;
  margin: 0 15px 15px 0;
  border: 0;

  img {
    display: block;
    border-radius: 6px;
    width: 75px;
    height: 75px;
  }
}

.podcast-post-body {
  // margin-left: 90px;

  @include media($mobile) {
    margin-left: 0;
  }
}
