.sidebar {
  @include span-columns(4);
}

.sidebar-block {
  margin: 0 0 $small-spacing;
  @include sidebar-background-gradient($light-gray);

  &.mint {
    @include sidebar-background-gradient($light-mint);

    .sidebar-block-heading {
      @include sidebar-heading-gradient(darken($light-mint, 10%));
    }
  }

  &.yellow {
    @include sidebar-background-gradient($medium-yellow);

    .sidebar-block-heading {
      @include sidebar-heading-gradient(darken($medium-yellow, 5%));
    }
  }
}

.sidebar-block-heading {
  margin: 0;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  @include sidebar-heading-gradient(darken($light-gray, 5%));
}

.sidebar-block-content {
  padding: 15px;
  // font-size: 16px;

  p:last-child {
    margin-bottom: 0;
  }
}
