---
header_inverted: true
header_image: /images/bkg-coffee-on-wood.jpg
---

<div class="post">
  <h2 class="post-title">Hello!</h2>
  <div class="post-body">
    <p>My name is Derrick Reimer and I&rsquo;m a full-stack developer based out of Minneapolis, Minnesota.
      I&rsquo;ve been building and launching software-as-a-service apps for the last
      5 years.</p>

    <p>I built and sold <a href="https://codetree.com">Codetree</a> and I am the co-founder of
      <a href="https://www.getdrip.com">Drip</a>, an email marketing automation platform.
      In June 2016, Drip was acquired by Leadpages. I co-host a weekly podcast called
      <a href="http://artofproductpodcast.com">The Art of Product</a> with Ben Orenstein,
      where we discuss code, product, entrepreneurship, and business.
    </p>

    <figure class="post-full-image">
      <img src="/images/drip-team-walking.jpg" alt="Drip Team" />
      <figcaption>Some of the Drip team (left to right): me, Ian Nance, and Anna Jacobsen.</figcaption>
    </figure>

    <p>
      Scaling SaaS is a compilation of things I have learned along the way, through
      the lens of a technical founder. Here I write about varied topics including
      product design and development, working with a team, writing code, keeping
      customers happy, and everything in between.
    </p>

    <p>
      <a href="https://twitter.com/derrickreimer"
         class="twitter-follow-button"
         data-show-count="false"
         data-size="large">Follow @derrickreimer</a>
    </p>
  </div>
</div>
