---
header_inverted: true
header_image: /images/bkg-geo-tile.jpg
---

<div class="post">
  <div class="post-header">
    <h2 class="post-title">Hey there!</h2>
  </div>

  <div class="post-body">
    <p>My name is Derrick Reimer and I&rsquo;m a full-stack developer living in Minneapolis.
      I&rsquo;ve been building software products for the last decade and writing code since the days of MS-DOS.
      Most recently, I founded <a href="https://codetree.com">Codetree</a> and co-founded <a href="https://www.drip.com">Drip</a>.

    <p>
      I co-host <a href="http://artofproductpodcast.com">The Art of Product Podcast</a> with <a href="http://www.benorenstein.com/">Ben Orenstein</a>,
      where we discuss all things related to building and growing software products (and other completely irrelevant topics).
    </p>

    <figure class="post-full-image post-full-image--bursting-out">
      <img src="/images/triptych.jpg" alt="Me in three" style="width: 775px;" />
      <figcaption>Film shots courtesy of the <a href="https://www.instagram.com/itsamyberge/">ever-talented</a> <a href="https://www.amyberge.com/">Amy Berge</a>.</figcaption>
    </figure>

    <p>
      This site is a compilation of things I have learned along the way, through
      the lens of a technical founder.
    </p>

    <p>
      <a href="https://twitter.com/derrickreimer"
         class="twitter-follow-button"
         data-show-count="false"
         data-size="large">Follow @derrickreimer</a>
    </p>
  </div>
</div>
