---
header_inverted: true
header_image: /images/bkg-overhead.jpg
---

<div class="post">
  <h2 class="post-title">Hello!</h2>
  <div class="post-body">
    <p>I&rsquo;m a full-stack developer based out of Minneapolis, Minnesota.
      I&rsquo;ve been building and launching software-as-a-service apps for the last
      5 years.</p>

    <p>I am currently building <a href="https://www.getdrip.com">Drip</a>,
      a marketing automation platform, and <del>hacking on</del> <a href="http://blog.codetree.com/articles/codetree-has-new-owners.html">recently sold</a>
      <a href="https://codetree.com">Codetree</a>, a lightweight project management
      app for GitHub issues.</p>

    <figure class="post-full-image">
      <img src="/images/drip-team-walking.jpg" alt="Drip Team" />
      <figcaption>Some of the Drip team (left to right): me, Ian Nance, and Anna Jacobsen.</figcaption>
    </figure>

    <p>
      Scaling SaaS is a compilation of things I have learned along the way, through
      the lens of a technical founder. I&rsquo;ll discuss varied topics including
      product design and development, working with a team, writing code, keeping
      customers happy, and everything in between.
    </p>

    <p>
      <a href="https://twitter.com/derrickreimer"
         class="twitter-follow-button"
         data-show-count="false"
         data-size="large">Follow @derrickreimer</a>
    </p>
  </div>
</div>
